/**
 * admin.css
 */


/*
 fixed-layout 固定头部和边栏布局
*/

html,
body {
  height: 100%;
  overflow: hidden;
}

ul {
  margin-top: 0;
}

.admin-icon-yellow {
  color: #ffbe40;
}

.admin-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1500;
  font-size: 1.4rem;
  margin-bottom: 0;
}

.admin-header-list a:hover :after {
  content: none;
}


.admin-main {
	position: relative;
	height: 100%;
	padding-top: 9vh;
	background: url(../i/background-1.png);
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
}


.am-topbar .am-text-ir {
  display: block;
  margin-right: 10px;
  height: 50px;
  width: 125px;
  
  -webkit-background-size: 125px 24px;
  background-size: 125px 24px;
}

.am-topbar img {
  height: 50px;

  
  -webkit-background-size: 125px 24px;
  background-size: 125px 24px;
}

.admin-menu {
  position: fixed;
  z-index: 10;
  bottom: 30px;
  right: 20px;
}

.admin-sidebar {
  width: 200px;
  min-height: 100%;
  float: left;
  border-right: 1px solid #cecece;
}

.admin-sidebar.am-active {
  z-index: 1600;
}

.admin-sidebar-list {
  margin-bottom: 0;
}

.admin-sidebar-list li a {
  color: #5c5c5c;
  padding-left: 24px;
}

.admin-sidebar-list li:first-child {
  border-top: none;
}

.admin-sidebar-sub {
	margin-top: 0;
	margin-bottom: 0;
	box-shadow: 0 16px 8px -15px #e2e2e2 inset;
	background: #F0F0F0;
	padding-left: 0px;
}

.admin-sidebar-sub li:first-child {
  border-top: 1px solid #dedede;
}

.admin-sidebar-panel {
  margin: 10px;
}

.admin-content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.0);
}

.admin-content,
.admin-sidebar {
  height: 100%;
  overflow-x: hidden;
  /*overflow-y: scroll;*/
  -webkit-overflow-scrolling: touch;
}

.admin-content-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.admin-content-footer {
  font-size: 85%;
  color: #777;
}

.admin-content-list {
  border: 1px solid #e9ecf1;
  margin-top: 0;
}

.admin-content-list li {
  border: 1px solid #e9ecf1;
  border-width: 0 1px;
  margin-left: -1px;
}

.admin-content-list li:first-child {
  border-left: none;
}

.admin-content-list li:last-child {
  border-right: none;
}

.admin-content-table a {
  color: #535353;
}
.admin-content-file {
  margin-bottom: 0;
  color: #666;
}

.admin-content-file p {
  margin: 0 0 5px 0;
  font-size: 1.4rem;
}

.admin-content-file li {
  padding: 10px 0;
}

.admin-content-file li:first-child {
  border-top: none;
}

.admin-content-file li:last-child {
  border-bottom: none;
}

.admin-content-file li .am-progress {
  margin-bottom: 4px;
}

.admin-content-file li .am-progress-bar {
  line-height: 14px;
}

.admin-content-task {
  margin-bottom: 0;
}

.admin-content-task li {
  padding: 5px 0;
  border-color: #eee;
}

.admin-content-task li:first-child {
  border-top: none;
}

.admin-content-task li:last-child {
  border-bottom: none;
}

.admin-task-meta {
  font-size: 1.2rem;
  color: #999;
}

.admin-task-bd {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.admin-content-comment {
  margin-bottom: 0;
}

.admin-content-comment .am-comment-bd {
  font-size: 1.4rem;
}

.admin-content-pagination {
  margin-bottom: 0;
}
.admin-content-pagination li a {
  padding: 4px 8px;
}

@media only screen and (min-width: 641px) {
  .admin-sidebar {
    display: block;
    position: static;
    background: #FFF;
  }

  .admin-offcanvas-bar {
    position: static;
    width: auto;
    background: none;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .admin-offcanvas-bar:after {
    content: none;
  }
}

@media only screen and (max-width: 640px) {
  .admin-sidebar {
    width: inherit;
  }

  .admin-offcanvas-bar {
    background: #f3f3f3;
  }

  .admin-offcanvas-bar:after {
    background: #BABABA;
  }

  .admin-sidebar-list a:hover, .admin-sidebar-list a:active{
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
    background: #E4E4E4;
  }

  .admin-content-list li {
    padding: 10px;
    border-width: 1px 0;
    margin-top: -1px;
  }

  .admin-content-list li:first-child {
    border-top: none;
  }

  .admin-content-list li:last-child {
    border-bottom: none;
  }

  .admin-form-text {
    text-align: left !important;
  }

}

/*
* user.html css
*/
.user-info {
  margin-bottom: 15px;
}

.user-info .am-progress {
  margin-bottom: 4px;
}

.user-info p {
  margin: 5px;
}

.user-info-order {
  font-size: 1.4rem;
}

/*
* errorLog.html css
*/

.error-log .am-pre-scrollable {
  max-height: 40rem;
}

/*
* table.html css
*/

.table-main {
  font-size: 1.4rem;
  padding: .5rem;
}

.table-main button {
  background: #fff;
}

.table-check {
  width: 30px;
}

.table-id {
  width: 50px;
}

@media only screen and (max-width: 640px) {
  .table-select {
    margin-top: 10px;
    margin-left: 5px;
  }
}

/*
gallery.html css
*/

.gallery-list li {
  padding: 10px;
}

.gallery-list a {
  color: #666;
}

.gallery-list a:hover {
  color: #3bb4f2;
}

.gallery-title {
  margin-top: 6px;
  font-size: 1.4rem;
}

.gallery-desc {
  font-size: 1.2rem;
  margin-top: 4px;
}

/*
 404.html css
*/

.page-404 {
  background: #fff;
  border: none;
  width: 200px;
  margin: 0 auto;
}
    
.index-directory{
	padding-left: 3em;

}
.index-directory-1{
	padding: 5px 10px 0px 17px;
}
.index-directory-2{
	padding: 5px 0px 10px 22px;
	margin: 0em 0;
}

@media only screen and (min-width: 1021px) and (max-width: 1280px){
.index-directory{
	padding-left: 0em;
}
} 



/*-----------------------------  主体框架  --------------------------------*/
.web-main{
	background: rgba(0, 0, 0, 0.5) url(../i/background-2.png);
	margin: 4vh 0vw 0vh 0vw;
	border: 1px solid rgba(60,100,140,0.5);
	position: relative;
	color: rgba(220,240,255,0.8);
	padding: 10px 15px;
}
.web-main-title{
	position: relative;
	z-index: 10;
	top: 0px;
	color: #67AFEB;
	font-size: 1.2vw;
	font-weight: 600;
	letter-spacing: 2px;
	-webkit-font-smoothing: antialiased;
	padding-bottom: 10px;
}
.web-line-bottom{
	border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
	padding: 1.2vh 0 1.5vh 0;
}
.web-main-1{
	height: 10vh;
}
.web-main-2{
	height: 20vh;
}
.web-main-3{
	height: 29vh;
}
.web-main-4{
	height: 38vh;
}
.web-main-5{
	height: 49vh;
}
.web-main-8{
	height: 80vh;
}

.web-footer{
	top: -4.5vh;
	position: relative;
	text-align: center;
	width: 100%;
	font-size: 0.6em;
	color: rgba(60,100,140,0.7);
	
}


.web-table th{
	min-width: 50px;
	
}
.web-button-absolute{
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 20;
}
.web-hr{
	margin: 0rem;
	border-top: 1px solid rgba(90,190,255,0.3);;
}

.web-login{
	background: rgba(0, 0, 0, 0.5) url(../i/background-2.png);
	margin: 4vh 3vw 0vh 3vw;
	height: 40vh;
	border: 1px solid rgba(60,100,140,0.5);
	position: relative;
	color: rgba(220,240,255,0.8);
	padding: 10px 15px;
}










li {
list-style-type:none;
}


.fillet-4{
    border-radius: 4px;
}
.fillet-10{
    border-radius: 10px;
}
.fillet-50{
    border-radius: 50%;
}
.font-12{
	font-size: 12px;
}
.font-13{
	font-size: 13px;
}
.font-14{
	font-size: 14px;
}
.font-16{
	font-size: 16px;
}
.font-1x{
	font-size: 180%;
	font-weight: 600;
}
.font-2x{
	font-size: 200%;
	font-weight: 600;
}
.font-3x{
	font-size: 300%;
	font-weight: 600;
}
.font-4x{
	font-size: 400%;
	font-weight: 600;
}
.font-5x{
	font-size: 500%;
	font-weight: 600;
}

/*  列表  */
.list-u-1{
	width: 8.33333333%;
}
.list-u-2{
	width: 16.66666667%;
}
.list-u-3{
	width: 25%;
}
.list-u-4{
	width: 33.33333333%;
}
.list-u-5{
	width: 41.66666667%;
}
.list-u-6{
	width: 50%;
}
.list-u-7{
	width: 58.33333333%%;
}
.list-u-8{
	width: 66.66666667%;
}
.list-u-9{
	width: 75%;
}
.list-u-10{
	width: 83.33333333%;
}
.list-u-11{
	width: 91.66666667%;
}
.list-u-12{
	width: 100%;
}

.list-u-1,
.list-u-2,
.list-u-3,
.list-u-4,
.list-u-5,
.list-u-6,
.list-u-7,
.list-u-8,
.list-u-9,
.list-u-10,
.list-u-11,
.list-u-12{
	float: left;
}

@media only screen and (max-width: 640px) {
.list-u-1,
.list-u-2,
.list-u-3,
.list-u-4,
.list-u-5,
.list-u-6,
.list-u-7,
.list-u-8,
.list-u-9,
.list-u-10,
.list-u-11,
.list-u-12{
	width: 100%;
}

}

.title-round {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 45px;
	height: 45px;
	font-size: 24px;
	line-height: 45px;
	border-radius: 50%;
	color: #555;
	text-align: center;
	background: #FFF;
	margin: 5px;
}
.title-lights {
	padding-top: 17px;	
}

.am-panel-line {
	line-height: 35px;
}


.img-circle{
	margin: 0 auto;
    text-align: left;
    width: 13em;
    height: 13em;
	border-radius: 50%;
}

.button-height{
    height: 55px;
}
.board-name{
	position: absolute;
    top: 15px;
    left: 55px;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}


.am-admin-button {
	margin: 15px 15px 15px 0px;
	border-radius: 4px;
}

.am-main-module {
	text-align: center;
	border: 1px solid #369;
	border-radius: 20px;
	background: rgba(68, 156, 255, 0.22);
}

.am-main-module:hover {
	background: rgba(255, 255, 255, 1);
}
.am-main-module-1 {
	text-align: center;
	border: 1px solid #369;
	background: rgba(68, 156, 255, 0.22);
}

.am-module-title {
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	color: #3A92CB;
	text-align: center;
	margin: 15px 0px 10px;
	float: left;
}

.am-module-block{
		margin: 30px 0px 30px -30px;
}

.am-module-icon{
	line-height: 10px;
	padding: 12px 0px 3px;
	text-align: right;
}
.am-module-icon-1{
	line-height: 10px;
	padding: 15px 0px 10px 0px;
	text-align: right;

}
.am-module-block li{
	width: 6.25%;
	float: left;
}
.am-module-block-1{
	background: url(../i/server01.png);
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	padding: 10px;
}
.am-module-block-2{
	background: url(../i/server01.png);
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
}
.am-module-block-3{
	background: url(../i/server03.png);
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
}


/*  译码指示  */
.decoding-light {
	text-align: center;	
}

.decoding-top {
	padding: 80px 0px 0px 20px;
}

/*  首页综合统计  */
.am-panel-md-12 {
	width: 100%;
	padding: 1.5rem;
}
.am-panel-statistics {
	padding: 10px 0px;
}
.am-panel-piece {
	font: 13px;
	padding: 10px 15px;
	width: 100%;
	text-align: left;
}
.statistics-more {
	float: right;
	right: 0px;
}
.statistics-number {
    border-radius: 6px;
    font: 4em Microsoft YaHei;
    letter-spacing: -3px;
    margin: -10px 0px -10px;
    position: relative;
    text-align: center;
    color: #FFF;
	width: 100%;
}

.statistics-button {
	display: inline-block;
	margin-bottom: 0;
	padding: 0.2em 0.5em;
	vertical-align: middle;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	border: 1px solid transparent;
	border-radius: 0;
	cursor: pointer;
	outline: 0;
	-webkit-appearance: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color .3s ease-out,border-color .3s ease-out;
	transition: background-color .3s ease-out,border-color .3s ease-out;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.2);
}

.am-topbar-menu  {
	margin-left: 60px;	
  }
.am-topbar-menu > li {


	text-align: center;
	top: 1px;
    border-radius: 4px;
  }
.am-button {
	margin: 15px 15px 15px 0px;
}

.am-checkbox-position{
	margin: 0px 0px 15px 0px;
}

/*  首页弹出层  */
.index-Popover{
	position: relative;
	z-index: 999;
}
.index-Popover:hover{
z-index:200;
}
.index-Popover span{
	z-index: 999;
	display: none;
}
.index-Popover:hover span{
	text-align: left;
	display: block;
	position: absolute;
	left: 0px;
	width: 100%;
	border: 2px solid #FFF;
	background-color: rgba(255, 255, 255, 0.85);
	padding: 5px 5px 5px 10px;
	color: black;
	top: 32px;
	height: auto;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
	font-size: 13px;
}

.index-Popover-tooln{
	position: absolute;
	right: -20px;
	height: calc(100% + 2px);
	background: #ddd;
	padding: 1px 3px;
	margin: -1px 0px 0px;
	line-height: 55px;
}



/*  首页弹出层  */
.popover{
	position: relative;
}
.popover:hover{
z-index:200;
}
.popover span{
	z-index: 999;
	display: none;
}
.popover:hover span{
	text-align: left;
	display: block;
	position: absolute;
	left: 0px;
	width: 100%;
	border: 2px solid #FFF;
	background-color: rgba(255, 255, 255, 0.85);
	padding: 5px 5px 5px 10px;
	color: black;
	top: 55px;
	height: auto;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
	font-size: 13px;
}


.index-alert{
	float: left;
	top: 15px;
	margin: 0px 0px 0px 250px;
	width: 50%;
	position: absolute;
}
.index-alert-style{
	padding: 2px 10px 2px 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(12, 124, 181, 0.3);
	border-radius: 20px;
}
.index-alert-data{
    padding: 1px 20px 2px 0px;
}





/*  弹出层  */
.tooltips-lights{
	position: absolute;
	margin: 7px 10px;
}
.tooltips{

}
.tooltips:hover{

}
.tooltips span{
	z-index: 9999;
	display: none;
}
.tooltips:hover span{
	text-align: left;
	display: block;
	position: absolute;
	left: 0px;
	width: 100%;
	border: 2px solid #FFF;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 5px 5px 5px 10px;
	color: black;
	top: 48px;
	height: auto;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.popover-1{
	width: 100%;
	line-height: 60px;	
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 20px 0px;

}


@media only screen and (min-width: 640px) and (max-width: 1282px){

} 
@media only screen and (max-width: 640px) {
.admin-main {
    padding-top: 61px;

}
.am-topbar-menu  {
	margin-left: 0px;	
  }
.am-topbar-menu > li {

	text-align: left;
	top: 1px;
	border-radius: 4px;
  }
}

/*----------------------------- 滚动条 --------------------------------*/

    .web-reel {
        overflow:auto;
    }
    .web-reel div {
    }
	.web-reel::-webkit-scrollbar {
        width:8px;
        height:8px;
    }
    .web-reel::-webkit-scrollbar-button {
		height: 0px;
	    width: 0px;
        background-color:rgba(60,100,140,0.4);
    }
    .web-reel::-webkit-scrollbar-track {
        background:rgba(0, 0, 0, 0.3);
    }
    .web-reel::-webkit-scrollbar-track-piece {
        background:rgba(0, 0, 0, 0.0);
    }
    .web-reel::-webkit-scrollbar-thumb {
        background:rgba(60,100,140,0.5);
        border-radius:10px;
    }
    .web-reel::-webkit-scrollbar-corner {
        background:rgba(0, 0, 0, 0.0);
    }
    .web-reel::-webkit-scrollbar-resizer {
        background:rgba(0, 0, 0, 0.0);
    }
	
@media only screen and (max-width: 768px) {
		.web-reel::-webkit-scrollbar {
        width:5px;
        height:5px;
    }
}	



/*-----------------------------对齐方式--------------------------------*/
.float_center{
	margin:0 auto !important; 
}
.float_left{
	float:left !important; 
}
.float_right{
	float:right !important;
}

.align_center{
	text-align: center !important;
}
.align_left{
	text-align: left !important;
}
.align_right{
	text-align: right !important;
}

/*-----------------------------  按钮动态效果  --------------------------------*/
/*-放大效果-*/
.dynamic-enlarge-x1{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.dynamic-enlarge-x1:hover{
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
    z-index: 99999;
}
.dynamic-enlarge-x2{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.dynamic-enlarge-x2:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
}
.dynamic-enlarge-x3{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.dynamic-enlarge-x3:hover{
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
}
.dynamic-enlarge-x4{
	transition: 0.6s all;
	-webkit-transition: 0.6s all;
	-moz-transition: 0.6s all;
	-o-transition: 0.6s all;
}
.dynamic-enlarge-x4:hover{
	transform: scale(1.4);
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-o-transform: scale(1.4);
	-ms-transform: scale(1.4);
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}
/*-明亮效果-*/
.dynamic-light{
	transition: 0.6s all;
	-webkit-transition: 0.6s all;
	-moz-transition: 0.6s all;
	-o-transition: 0.6s all;
}
.dynamic-light:hover{
	transform: translate3d(0,-1px,0);
	-webkit-transform: translate3d(0,-1px,0);
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
	-webkit-filter: brightness(1.1);
	filter: brightness(1.1);

}
/*-向上效果-*/
.dynamic-up{
	transition: 0.8s all;
	-webkit-transition: 0.8s all;
	-moz-transition: 0.8s all;
	-o-transition: 0.8s all;
}
.dynamic-up:hover{
	transform: translate3d(0,-3px,0);
	-webkit-transform: translate3d(0,-3px,0);
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 3000;
}
/*-阴影效果-*/
.dynamic-shadow{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.dynamic-shadow:hover{
	transform:translate3d(0,0px,0);
	-webkit-transform:translate3d(0,0px,0);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}

/*-内阴影效果-*/
.dynamic-Press{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.dynamic-Press:hover{
	transform: translate3d(0,0px,0);
	-webkit-transform: translate3d(0,0px,0);
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
	background: rgba(0, 0, 0, 0.02);
}
/*-----------------------------配色--------------------------------*/


/*-----------------------------Gray灰色-*/
.text-GY{
	color: #444444;
}
.text-GY1{
	color: #F2F3F4;
}

.text-GY2{
	color: #666666;
}
.text-GY3{
	color: #999999;
}

#text-GY{
	color: #444444;
}
#text-GY a:link, #text-GY a:visited {
	color: #666;
}
#text-GY a:hover, #text-GY a:active {
	color: #333;
}



.context-GY{
	background: #A9ADB4;
}
.context-GY1{
	background-color: #EBECED;
}
/*-Gray灰色-*/

/*-----------------------------Black黑色-*/
.text-BK{
	color: #22242B;
}
/*-Black黑色-*/

/*----------------------------- Blue grey 蓝灰色-*/
.text-BGY{
	color: #285e8e;
}

.context-BGY{
	background: #1C2631;
}


/*-Blue grey 蓝灰色-*/


/*-----------------------------Blue蓝色-*/
.text-BU{
	color: #285e8e;
}

.context-BU{
	background: #4F9FDB;
}

/*-Blue蓝色-*/

/*-----------------------------Light Blue浅蓝色-*/
.text-LT_BU{
	color: #6C9DCA;
}
.context-LT_BU{
	background: #CBE6FC !important;
	border: 1px solid #CBE6FC;
}
.context-LT_BU:hover{
	border: 1px solid #CBE6FC;
}
/*-Light Blue浅蓝色-*/

/*-----------------------------Green绿色-*/
.text-GN{
	color: #4E8F50;
}

.context-GN{
	background: #91CE9A;
}

.text-GN-1{
	color: #53AE65;
}

/*-Green绿色-*/

/*-----------------------------Orange橙色-*/
.text-OG{
	color: #EB7514;
}

.context-OG{
	background: #FCC294;
}
/*-Orange橙色-*/

/*-----------------------------Yellow黄色-*/
.text-YL{
	color: #D09700;
}
.context-YL{
	background: #FFE082;
}
/*-Yellow黄色-*/
/*-----------------------------Tan褐色-*/
.text-TN{
	color: #A8826F;
}
.context-TN{
	background: #A8826F;
}
.context-TN-1{
	background: #EFE4E0 !important;
}

/*-Tan褐色-*/

/*-----------------------------Red红色-*/
.text-RD{
	color: #D95451;
}
.context-RD{
	background: #E66666;
}

.text-RD-1{
	color: #F4404E;
}
/*-Red红色-*/

/*-----------------------------White白色-*/
.text-WT{
	color: #FFFFFF;
}
.context-WT{
	background: #FFF;
}
.am-panel-WT {
    border-color: #FFF;

}

/*-White白色-*/

/*-----------------------------Dark Green透明色-*/
.text-DKGN{
	color: rgba(0, 0, 0, 0.4);
}
.text-DKGN-1{
	color: rgba(0, 0, 0, 0.6);
}
.text-DKGN1{
	color: rgba(255, 255, 255, 0.4);
}
.text-DKGN2{
	color: rgba(255, 255, 255, 0.7);
}

.context-DKGN{
	background: rgba(0, 0, 0, 0.4);
}
.context-DKGN-1{
	background: rgba(0, 0, 0, 0.08);
}
.context-DKGN-1:hover{
	background: rgba(0, 0, 0, 0.00);
}
.context-DKGN-2{
	background: rgba(255, 255, 255, 0.5);
}

.context-DKGN-3{
	background: rgba(0, 0, 0, 0.04);
}