    .spac-20px {
    padding: 20px 0;
    }

    .spac-40px {
    padding: 40px 0;
    }

    .spac-container {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    }

	.car-GY{
	background: #ebebeb;
    }
	.car-BU{
	background: #273D56;
    }
	.car-BU a{
	color: #A5C7E2;
    }
	.car-BU a:hover,
	.car-BU a:focus {
	color: #0e90d2;
    }
	
    .car-container{
	width: 95%;
    }
    .car-map{
	padding: 20px 0px 0px;
    }
    .car-table{
    padding: 20px 0px 0px;
    }
    .car-main {
	height: 100%;
    }
    .car-other {
	height: 80%;
    }
    .car-main img {
	width: 100%;
	height: 100%;
    }
    .car-other img {
	width: 100%;
	height: 100%;
    }	


    .car-data-GY {
	background: #B4B4B4;
	color: #FFF;
    }	
    .car-data-BU {
	background: #1F3145;
    }


    .get {
	color: #3F3838;
	text-align: center;
	padding: 80px 0;
    }
	
    .get-search {
	color: #221D1C;
	text-align: center;
	padding: 100px 0 150px;
	background: #CCC;
    }

    .get-title {
	font-size: 200%;
	border: 3px solid rgba(255, 255, 255, 0.5);
	padding: 20px 50px;
	display: inline-block;
	background: rgba(255, 255, 255, 0.5);
    }

    .get-btn {
      background: #fff;
    }

    .detail {
      background: #fff;
    }

    .detail-h2 {
      text-align: center;
      font-size: 150%;
      margin: 40px 0;
    }

    .detail-h3 {
      color: #1f8dd6;
	font-size: 120%;
    }

    .detail-p {
      color: #7f8c8d;
    }

    .detail-mb {
      margin-bottom: 30px;
    }

    .hope {
	background: #4889BD;
	padding: 50px 0;
    }

    .hope-img {
      text-align: center;
    }

    .hope-hr {
      border-color: #149C88;
    }

    .hope-title {
      font-size: 140%;
    }

    .about {
      background: #fff;
      padding: 40px 0;
      color: #7f8c8d;
    }

    .about-color {
      color: #34495e;
    }

    .about-title {
      font-size: 180%;
      padding: 30px 0 50px 0;
      text-align: center;
    }

    .footer p {
	color: #7f8c8d;
	margin: 0;
	padding: 15px 0;
	text-align: center;
	background: #182129;
    }


.title-h1 {
	text-align: center;
	font-size: 220%;
	margin: 30px 0px 0px;
	text-transform: uppercase;
	color: #816F69;
}
ul.title-h2{
	font-size: 120%;
	font-weight: 500;
	margin: 0px 0px 30px -30px;
}
 
ul.title-h2 li span{
	background: #FFF;
	padding: 0px 20px;

}
ul.title-h2 li{
	list-style: none;
margin:0 auto;
 text-align: center; 
border: 0px solid #6c6;
width: 100%;
 
}
ul.title-h2 .list1{
	margin:0 auto;
	border-bottom: 1px solid #ccc;
	width: 20%;
	margin-bottom: -20px;
	text-align: center; 
}
 
.title-h2 a{
	display: block;
	color: #191919;
	text-decoration: none;
	padding: 6px 5px;
	width: 100%;
	text-align: center;
}


.am-list-a {
	margin-top: 5px;
	margin-left: -30px;
}
.am-list-a > li{
	list-style: lower-roman;
}
.am-list-a > li > a {
	display: block;
	color: #54585C;
	line-height: 32px;
	border-bottom: 1px solid #E1E1E1;
	font-size: 13px;
}
.am-list-a > li > a:hover{
	color: #3C94D5;

}



#index-search {
	width: 100%;
	background: url(../i/portfolio.jpg) no-repeat fixed center bottom;
	background-size: cover;
	color: #fff;
}

#news-search {
	width: 100%;
	background: url(../i/search01.jpg) no-repeat fixed center bottom;
	background-size: cover;
	color: #fff;
}

.news-search h1 {
	text-align: center;
	font-size: 220%;
	margin: 30px 0px 0px;
	text-transform: uppercase;
	color: #FFF;
}

.news-navigation {
	padding: 0px 0 0px;
	background: #E7E7E7;
	margin: 0px 0px 50px;
}
.news-navigation h1 {
	text-align: center;
	font-size: 100%;
	margin: 0px 0px 0px;
	text-transform: uppercase;
	color: #816F69;
}
.news-navigation p {
	text-indent: 2em; /*em是相对单位，2em即现在一个字大小的两倍*/ 
}
.news-search {
	padding: 30px 0 60px;
	background: #CCC;
}
.news-search h1 {
	text-align: center;
	font-size: 220%;
	margin: 30px 0px 0px;
	text-transform: uppercase;
	color: #FFF;
}

/*-----------------------------对齐方式--------------------------------*/
.float_center{
	margin:0 auto !important; 
}
.float_left{
	float:left !important; 
}
.float_right{
	float:right !important;
}

.align_center{
	text-align: center !important;
}
.align_left{
	text-align: left !important;
}
.align_right{
	text-align: right !important;
}


/*----------------------------- 滚动条 --------------------------------*/

    #flowchart-reel {
        overflow:auto;
    }
    #flowchart-reel div {
    }
	#flowchart-reel::-webkit-scrollbar {
        width:8px;
        height:8px;
    }
    #flowchart-reel::-webkit-scrollbar-button {
		height: 0px;
	    width: 0px;
        background-color:rgba(0, 0, 0, 0.0);
    }
    #flowchart-reel::-webkit-scrollbar-track {
        background:rgba(0, 0, 0, 0.0);
    }
    #flowchart-reel::-webkit-scrollbar-track-piece {
        background:rgba(0, 0, 0, 0.0);
    }
    #flowchart-reel::-webkit-scrollbar-thumb {
        background:rgba(0, 0, 0, 0.2);
        border-radius:4px;
    }
    #flowchart-reel::-webkit-scrollbar-corner {
        background:rgba(0, 0, 0, 0.0);
    }
    #flowchart-reel::-webkit-scrollbar-resizer {
        background:rgba(0, 0, 0, 0.0);
    }

/*-----------------------------  按钮动态效果  --------------------------------*/
/*-放大效果-*/
.dynamic-enlarge-x1{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.dynamic-enlarge-x1:hover{
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
}
.dynamic-enlarge-x2{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.dynamic-enlarge-x2:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
}
.dynamic-enlarge-x3{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.dynamic-enlarge-x3:hover{
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
}
.dynamic-enlarge-x4{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.dynamic-enlarge-x4:hover{
	transform: scale(1.4);
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-o-transform: scale(1.4);
	-ms-transform: scale(1.4);
}
/*-向上效果-*/
.dynamic-up{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.dynamic-up:hover{
	transform:translate3d(0,-2px,0);
	-webkit-transform:translate3d(0,-2px,0);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}
/*-阴影效果-*/
.dynamic-shadow{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.dynamic-shadow:hover{
	transform:translate3d(0,0px,0);
	-webkit-transform:translate3d(0,0px,0);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}

/*-内阴影效果-*/
.dynamic-Press{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.dynamic-Press:hover{
	transform: translate3d(0,0px,0);
	-webkit-transform: translate3d(0,0px,0);
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
	background: rgba(0, 0, 0, 0.02);
}

/*-----------------------------配色--------------------------------*/


/*-----------------------------Gray灰色-*/
.text-GY{
	color: #444444;
}
.text-GY1{
	color: #F2F3F4;
}

#text-GY{
	color: #444444;
}
#text-GY a:link, #text-GY a:visited {
	color: #666;
}
#text-GY a:hover, #text-GY a:active {
	color: #333;
}



.context-GY{
	background: #A9ADB4;
}
.context-GY1{
	background-color: #D8DADE;
}
/*-Gray灰色-*/

/*-----------------------------Black黑色-*/
.text-BK{
	color: #22242B;
}
/*-Black黑色-*/

/*-----------------------------Blue蓝色-*/
.text-BU{
	color: #285e8e;
}

.context-BU{
	background: #4F9FDB;
}

/*-Blue蓝色-*/

/*-----------------------------Light Blue浅蓝色-*/
.text-LT_BU{
	color: #46b8da;
}
.context-LT_BU{
	background: #E3F1FD !important;
}
/*-Light Blue浅蓝色-*/

/*-----------------------------Green绿色-*/
.text-GN{
	color: #4cae4c;
}

.context-GN{
	background: #81C475;
}

.text-GN-1{
	color: #53AE65;
}

/*-Green绿色-*/

/*-----------------------------Orange橙色-*/
.text-OG{
	color: #eea236;
}

.context-OG{
	background: #F7B859;
}
/*-Orange橙色-*/

/*-----------------------------Yellow黄色-*/
.text-YL{
	color: #FFDF46;
}
.context-YL{
	background: #EFB836;
}
/*-Yellow黄色-*/
/*-----------------------------Tan褐色-*/
.text-TN{
	color: #A8826F;
}
.context-TN{
	background: #A8826F;
}
.context-TN-1{
	background: #EFE4E0 !important;
}

/*-Tan褐色-*/

/*-----------------------------Red红色-*/
.text-RD{
	color: #D95451;
}
.context-RD{
	background: #E66666;
}

.text-RD-1{
	color: #F4404E;
}
/*-Red红色-*/

/*-----------------------------White白色-*/
.text-WT{
	color: #FFFFFF;
}
.context-WT{
	background: #FFF;
}
/*-White白色-*/

/*-----------------------------Dark Green透明色-*/
.text-DKGN{
	color: rgba(0, 0, 0, 0.4);
}
.text-DKGN-1{
	color: rgba(0, 0, 0, 0.6);
}
.text-DKGN1{
	color: rgba(255, 255, 255, 0.4);
}
.text-DKGN2{
	color: rgba(255, 255, 255, 0.7);
}

.context-DKGN{
	background: rgba(0, 0, 0, 0.4);
}
.context-DKGN-1{
	background: rgba(0, 0, 0, 0.05);
}
.context-DKGN-1:hover{
	background: rgba(0, 0, 0, 0.09);
}
.context-DKGN-2{
	background: rgba(255, 255, 255, 0.2);
}



